@model EventsPlus_LTD.Models.Attendee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttDoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttDoB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttPostcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
